<!-- <ion-header>
  <ion-toolbar>
    <ion-title>pickStylist</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <body>
    <img src="../assets/design.png" alt="" />
  </body>
  <div id="container"><strong>Pick Your Stylist</strong></div>
  <!-- <div id="sub-container"><strong>Haircut</strong></div> -->
  <ion-searchbar placeholder="Search stylists.."></ion-searchbar>
 <div>
  <ion-grid class="grid">
    <ion-col>
      <ion-row>
        <div class="stylist-container">
          <a routerLink="/booking">
            <h1>Jane Doe</h1>
            <div class="icon">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <p>
              Jane enjoys using her knowledge to create what her clients
              envision
            </p>
            <img src="../assets/jane.jpg" style="width: 7rem; bottom: 10rem" />
          </a>
        </div>
      </ion-row>
      <ion-row>
       <div class="stylist-container">
          <a routerLink="/booking">
            <h1>John Smith</h1>
            <div class="icon">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
            </div>
            <p>
              John has worked at Salon for the past eight years with ten years of experience.
            </p>
            <img src="../assets/johnsmith.jpg" style="width: 7rem; bottom: 11rem" />
          </a>
        </div>
      </ion-row>
      <ion-row>
               <div class="stylist-container">
          <a routerLink="/booking">
            <h1>Sarah Johnson</h1>
            <div class="icon">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <p>
              Sarah recently graduated from our school and is starting his career in cutting.
            </p>
            <img src="../assets/sarahjohnson.jpg" style="width: 7rem; bottom: 10rem" />
          </a>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</div>
</ion-content>
