<!-- <ion-header>
  <ion-toolbar>
    <ion-title>services</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <body>
    <img src="../assets/design.png" alt="" />
  </body>

  <div id="container"><strong>SERVICES</strong></div>
  <!-- <div id="sub-container"><strong>Haircut</strong></div> -->
  <ion-searchbar placeholder="Search services.."></ion-searchbar>
  <ion-grid>
    <ion-col>
      <ion-row>
        <div class="stylist-container">
          <a routerLink="/pick-stylist">
            <h1>Blunt Bob</h1>
            <p>15-20 mins</p>

            <p>
              A blunt cut bob is a shorter hairstyle that's cut into a straight
              line at the ends.
            </p>
            <img
              style="width: 6rem; bottom: 9.5rem"
              src="../assets/haircut1.jpg"
            />
          </a>
        </div>
      </ion-row>
      <ion-row>
        <div class="stylist-container">
          <a routerLink="/pick-stylist">
            <h1>Long Layers</h1>
            <p>20-40 mins</p>

            <p>
              If there is a great distance between the end of two layers then
              this is a long layer.
            </p>
            <img style="width: 6rem; bottom: 10.5rem" src="../assets/img2.jpg" />
          </a>
        </div>
      </ion-row>
      <ion-row>
        <div class="stylist-container">
          <a routerLink="/pick-stylist">
            <h1>Sleek and Straight</h1>
            <p>10-15 mins</p>
            <p>
              We'll make sure you leave the salon satisfied with smooth, silky
             hair.
            </p>
            <img
              style="width: 6rem; bottom: 10rem"
              src="../assets/haircut2.jpg"
            />
          </a>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
