<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <body>
    <img src="../assets/design.png" alt="">
    <script>
      console.log("Hello");
    </script>
  </body>

  <div id="container">
    <strong>WELCOME ONBOARD</strong>
    <p>Sign up here</p>
    <form action="" class="input-container">
      <label for="f_name"></label>
      <input
        type="text"
        placeholder="First Name"
        name="f_name"
        required
      />
      <br />
      <label for="l_name"></label>
      <input
        type="text"
        placeholder="Last Name"
        name="l_name"
        required
      />
      <br />
      <label for="username"></label>
      <input
        type="text"
        placeholder="Username"
        name="username"
        required
      />
      <br />
      <label for="password"></label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
      />
      <br />
    
    <p>
      Already have an account?
      <a routerLink="/login" class="Loginhere-text"><u> Log in here</u></a>
    </p>
    <button type="submit" class="button" routerLink="/services">Register</button>
  </form>
  </div>
  


</ion-content>
