<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Salon App </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  
  <body></body>
  <div id="container">
    <strong> BOOK YOUR FAVOURITE HAIRSTYLIST</strong>
    <p>Choose between our elite stylists within seconds</p>

    <ion-button shape="round" fill="outline" routerLink="/signup" (click) = "test()"
      >Get Started</ion-button
    >

     <!-- <ion-buttons>
   <button ion-button (click)="goAnOtherPage()" class="button">Get Started</button>
 </ion-buttons> -->
  </div>
</ion-content>
