<!-- <ion-header>
  <ion-toolbar>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <body>
    <img src="../assets/design.png" alt=""/>
  </body>
  
  <div id="container"><strong>BOOKING</strong></div>
  <div id="sub-container"><strong>Schedule</strong></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="schedule-container">
          <a href="">
            <h1>Saturday, December 1st</h1>
          </a>
        </div>
      </ion-col>
      <ion-col>
        <div class="schedule-container">
          <a href="">
            <h1>Sunday, December 2nd</h1>
          </a>
        </div>
      </ion-col>
      <ion-col>
        <div class="schedule-container">
          <a href="">
            <h1>Monday, December 3rd</h1>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="sub-container"><strong>Available Time Slots</strong></div>

  <ion-grid>
    <ion-col>
      <div class="time-container">
        <ion-row>
          <div class="time-subcontainer">
            <a href="">
              <h1>10:30 AM - 12:00 PM</h1>
            </a>
          </div>
        </ion-row>
        <ion-row>
          <div class="time-subcontainer">
            <a href="">
              <h1>12:30 PM - 01:00 PM</h1>
            </a>
          </div>
        </ion-row>
        <ion-row>
          <div class="time-subcontainer">
            <a href="">
              <h1>02:30 PM - 03:30 PM</h1>
            </a>
          </div>
        </ion-row>
        <ion-row>
          <div class="time-subcontainer">
            <a onclick = "gfg_Run()">
              <h1>06:30 PM - 08:00 PM</h1>
           </a> 
          </div>
        </ion-row>
      </div>
    </ion-col>
     <ion-button
    shape="round"
    fill="none"
    class="button"
   routerLink="/confirmation"
    >Confirm</ion-button
  >
  </ion-grid>

 

  <!-- <button class="button" type="button">Confirm</button> -->
</ion-content>
